<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
	<!-- style for links -->
	<style>
		a
		{
			color: grey
		}
		a:hover
		{
			color: white 
		}
	</style>
	<!-- style end -->
</head>
<body>

    <div class="container">
        <div class="container-fluid">
            <div id="row1" class="row" style="padding: 5px">
                <div class="col-sm-3">
                    <img class="hidden-xs" src="~/images/kickasskontorsprylarlogo.png" />
                </div>
                <div class="col-sm-9" style="text-align: center;">
                    <p class="hidden-xs" style="color: transparent;">.</p>
                    <p class="hidden-xs" id="1345" style="font-family: Candara; font-style: oblique; color: forestgreen; font-size: 30px; text-align: center;"> "Enda kontorsbutiken med batonger"</p>
                    <p class="hidden-sm hidden-lg hidden-md hidden-sm" id="1345" style="font-family: Candara; font-style: oblique; color: forestgreen; font-size: 16px; text-align: center;"> "Enda kontorsbutiken med batonger"</p>
                </div>
            </div>
            <div id="row2" class="row">
                <!-- #region Navbar -->
                <div class="container-fluid">
                    @*<div class="col-sm-2">
                        <img class="hidden-xs" src="~/images/kickasskontorsprylarlogo.png" />
                    </div>*@
                    <div class="col-sm-12">
                        <nav class="navbar navbar-inverse">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/home/index">Kick Ass Kontorsprylar AB</a>
                            </div>
                            <div class="collapse navbar-collapse" id="myNavbar">
								<ul class="nav navbar-nav">
									<li class="active"><a href="/home/index"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">Produktkatalog<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<!-- Get categories, print main category, look for sub-categories, continue -->
											@foreach (var category in (List<CategoryVM>)ViewData["Categories"])
											{
												if (category.ParentID == 0)
												{
													<li><b><a href="#category@category.CategoryID">@category.Name</a></b></li> }
												foreach (var subcategory in (List<CategoryVM>)ViewData["Categories"])
												{
													if (category.CategoryID == subcategory.ParentID)
													{
														<li><a href="#category@subcategory.CategoryID">@subcategory.Name</a></li> }
												}
											}
									<!-- end of categories -->
								</ul>

                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Om oss<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/KickAssInformation/ContactUs">Kontakta oss</a></li>
                                            <li><a href="#">Företagsinformation</a></li>
                                            <li><a href="#">Vanliga frågor</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Din varukorg</a></li>
                                    <li><a href="#"><input type="text" name="FirstName" placeholder="Ange sökordet"> <span class="glyphicon glyphicon-search"></span> Sök</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/user/createuser"><span class="glyphicon glyphicon-user"></span> Registrera</a></li>
                                    <li><a href="/home/login"><span class="glyphicon glyphicon-log-in"></span> Logga in</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
        </div>
        <div id="row3" class="row">
            @RenderBody()
            <p style="color: transparent">.</p>
        </div>
    </div>
    </div>

    <script src="~/Script/jquery.min.js"></script>
    @RenderSection("script", false)

    <div class="container-fluid">
        <div class="row">
            <!-- #region Footer -->
            <div class="col-sm-3" style="background-color:#222222; color:#9D9D9D; padding:5px; text-align: center">
                <h4><span class="glyphicon glyphicon-earphone"></span> Kontakta oss</h4>
                <p>+46 708 460 256</p>
				<p><a href="mailto:info@kickasskontorsprylar.nu" target="_blank">info@kickasskontorsprylar.nu</a></p>
            </div>
            <div class="col-sm-3" style="background-color:#222222; color:#9D9D9D; padding:5px; text-align: center">
                <h4><span class="glyphicon glyphicon-thumbs-up"></span> Följ oss</h4>
                <p>Twitter</p>
                <p>Facebook</p>
            </div>
            <div class="col-sm-3" style="background-color:#222222; color:#9D9D9D; padding:5px; text-align: center">
                <h4><span class="glyphicon glyphicon-question-sign"></span> Hjälp</h4>
                <p>Vanliga frågor</p>
                <p>Säkerhetspolicy</p>
            </div>
            <div class="col-sm-3" style="background-color:#222222; color:#9D9D9D; padding:5px; text-align: center">
                <h4><span class="glyphicon glyphicon-user"></span> Mitt Konto</h4>
				<a href="/user/createuser"><span class="glyphicon glyphicon-user"></span> Registrera</a><br><br>
				<a href="/home/login"><span class="glyphicon glyphicon-log-in"></span> Logga in</a>

            </div>
            <!-- #endregion -->
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- #region All Rights Reserved -->
            <div class="col-sm-12" style="background-color:forestgreen; color:white; padding:5px; text-align: center">
                © 2016 - All Rights Reserved - Kick Ass Kontorsprylar AB
            </div>
            <div class="col-sm-12" style="background-color:forestgreen; color:transparent; padding:5px; text-align: center">
                .
            </div>
            <!-- #endregion -->
        </div>
    </div>

</body>
</html>
