@using KickAss2.ViewModels
@model List<ListProductVM>

<div> @Html.Partial("LogInNavBar",Model.First().CurrentUser)</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"><label>Produktnam</label></div>
        <div class="col-sm-2"><label>Beskrivning</label></div>
        <div class="col-sm-2"><label>Pris</label></div>
        <div class="col-sm-2"><label>Lägg till i varukorg</label></div>
    </div>
    @foreach (var item in Model)
            {
        <div id="@item.ProducId" class="row">
            @*<form  asp-controller="Products" asp-action="AddProductToCart">*@
                >
                <div class="col-sm-2">@item.Name</div>
                <div class="col-sm-2">@item.Description</div>
                <div class="col-sm-2">@item.Price</div>

                <div class="col-sm-2"><input type="submit" id="@item.ProducId" value="+" class="btn btn-success" style="background-color: forestgreen" /></div>
            @*</form>*@
</div>    }
    <script type="text/javascript">
        $(".btn_btn-success").click(function () {
            var id = $(this).attr('id');
            $.post("/products/addproductstocart", { "id": id });
        });
    </script>
</div>




